<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Survey Assignment</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <style>
        body {
            width: 250px;
            margin: 150px 0px 0px 650px;
        }
        
        form>div {
            margin-bottom: 15px;
        }
    </style>
</head>

<body>
    <form action="/result" method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 fw-normal">Dojo Survey</h1>
        <div class="form-floating">
            <label for="your_name">Your Name:</label>
            <input type="text" class="form-control" name="name" id="your_name">
        </div>
        <div class="form-floating">
            <label for="selectlocation">Dojo Location:</label>
            <select class="form-select" aria-label="Default select example" name="location" id="selectlocation">
                <option>San Jose</option>
                <option>Chicago</option>
                <option>Los Angeles</option>
                <option>Online</option>
              </select>
        </div>
        <div class="form-floating">
            <label for="selectlanguage">Favourite Language:</label>
            <select class="form-select" aria-label="Default select example" name="language" id="selectlanguage">
                <option >Python</option>
                <option>Ruby</option>
                <option>Javascript</option>
                <option>Java</option>
              </select>
        </div>
        <div class="form-group">
            <label for="textarea">Comment (Optional):</label>
            <textarea class="form-control" id="textarea" rows="3" name="textarea"></textarea>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Submit</button>
    </form>
</body>

</html>