<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{Some_Author.first_name}} {{Some_Author.last_name}}</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/bootstrap.css'%}">
</head>

<body>

    <h1>{{Some_Author.first_name}} {{Some_Author.last_name}}</h1>
    <div>ID: {{Some_Author.id}}</div>
    <div>Notes: {{Some_Author.notes}}</div>
    <div>Books: {% for author in Some_Author.books.all %}
        <li>{{author.title}}</li>
        {% endfor %}
    </div>
    <form method="post" action="/assign_book">
        {% csrf_token %}
        <select class="form-select" name="assigned_book">
            <option selected>--Select a book--</option>
            {% for book in All_Books %}
            <option value="{{book.id}}">{{book.title}}</option>
            {% endfor %}
        </select>
        <input type="hidden" value="{{author_id}}" name="author_id">
        <button class="btn btn-warning">Add</button>
    </form>
</body>

</html>