<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Solving Users with Templates">
    <title>Users with Templates</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}" </head>

    <body>
        <!-- The database table -->
        <h1>All the users</h1>
        <table>
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Age</th>
            </thead>
            <tbody>
                {%for user in show_all_the_records%}
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.first_name}} {{user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.age}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
        <hr>

        <!-- The registration form -->
        <h1>Add a user</h1>
        <form id="form" action="/process" method="post">
            {% csrf_token %}
            <div class="formDiv">
                <label for="first_name">First Name:</label>
                <input type="text" name="first_name" id="first_name">

                <label for="last_name">Last Name:</label>
                <input type="text" name="last_name" id="last_name">
            </div>
            <div class="formDiv">
                <label for="email">Email:</label>
                <input type="text" name="email" id="email">

                <label for="age">Age:</label>
                <input type="text" name="age" id="age">
            </div>
            <input type="submit" value="Add">
        </form>
    </body>

</html>