<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Registration</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" </head>
    <style>
        body {
            width: 50%;
            margin-left: 25%;
        }
        
        #container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
        
        form>h1 {
            margin-bottom: 15px;
        }
    </style>

    <body>
        <div id="container">
            <!-- Registration Form -->
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <form method="post" action="/registrationProcess">
                {% csrf_token %}
                <h1>Registration</h1>
                <div class="mb-3">
                    <label for="first_name" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="first_name" name="first_name" required>
                </div>
                <div class="mb-3">
                    <label for="last_name" class="form-label">Last Name</label>
                    <input type="last_name" class="form-control" id="last_name" name="last_name" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="mb-3">
                    <label for="date" class="form-label">Birthday</label>
                    <input type="date" class="form-control" id="date" name="date" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <div class="mb-3">
                    <label for="confirm_pw" class="form-label">Confirm PW</label>
                    <input type="password" class="form-control" id="confirm_pw" name="confirm_pw" required>
                </div>
                <button type="submit" class="btn btn-info">Register</button>
            </form>
            <!-- Login Form -->
            <form method="post" action="/loginProcess">
                {% csrf_token %}
                <h1>Log in</h1>
                <div class="mb-3">
                    <label for="username" class="form-label">Email</label>
                    <input type="text" class="form-control" id="username" name="username">
                </div>
                <div class="mb-3">
                    <label for="userpw" class="form-label">Password</label>
                    <input type="password" class="form-control" id="userpw" name="userpw">
                </div>
                <button type="submit" class="btn btn-success">Log In</button>
            </form>
        </div>
    </body>

</html>