<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>test</title>
</head>

<body>
    <table>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Age</th>
        {%for records in db%}
        <tr>
            <td>{{records.id}}</td>
            <td>{{records.first_name}} {{records.last_name}}</td>
            <td>{{records.email}}</td>
            <td>{{records.age}}</td>
        </tr>
        {%endfor%}
    </table>
    <form method="post" action="/process">
        {%csrf_token%} First Name:<input type="text" name="first_name"> Last Name:<input type="text" name="last_name"> Email:
        <input type="text" name="email"> Age:
        <input type="text" name="age">
        <input type="submit" value="Submit">
    </form>
</body>

</html>