<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}" </head>

    <body>
        {%for i in range(0,x,1):%} {%if i%2==0:%}
        <div class="container">
            {%for j in range(0,y,1):%} {%if j%2==0:%}
            <div class="block" style="background-color:{{color1}}"></div>
            {%else:%}
            <div class="block" style="background-color:{{color2}}"></div>
            {%endif%} {%endfor%}
        </div>
        {%else:%}
        <div class="container">
            {%for j in range(0,y,1):%} {%if j%2==0:%}
            <div class="block" style="background-color:{{color2}}"></div>
            {%else:%}
            <div class="block" style="background-color:{{color1}}"></div>
            {%endif%} {%endfor%}
        </div>
        {%endif%} {%endfor%}
    </body>

</html>