<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="solving checkerboard assignment">
    <title>Checkerboard</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
    {% for i in range(0,X,1): %} {% if i%2==0: %}
    <div id="container">
        {% for j in range(0,Y,2):%} {%if j==Y-1:%}
        <div class="block" style="background-color:{{color2}}"></div>
        {%else:%}
        <div class="block" style="background-color:{{color2}}"></div>
        <div class="block" style="background-color:{{color1}}"></div>
        {%endif%} {% endfor %}
    </div>
    {% else: %}
    <div id="container">
        {% for j in range(0,Y,2):%} {%if(j==Y-1):%}
        <div class="block" style="background-color:{{color1}}"></div>
        {%else:%}
        <div class="block" style="background-color:{{color1}}"></div>
        <div class="block" style="background-color:{{color2}}"></div>
        {% endif %} {% endfor %}
    </div>
    {% endif %} {% endfor %}



</body>

</html>