<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
</head>

<body>
    <h1>Success! Welcome {{request.session.FIRSTNAME}} {{request.session.LASTNAME}}</h1>
    <p>Successfully {{request.session.EVENT}}!</p>
    <a href="/wall" style="color:white; text-decoration:none; margin:5px;" class="btn btn-warning">Go to wall</a>
    <form action="/logout">
        {%csrf_token%}
        <button type="submit" class="btn btn-danger">Log out</button>
    </form>
</body>

</html>